* {
    padding: 0;
    margin: 0;
}

.login-form-frame {
    width: 700px;
    margin: 150px auto;
    border-radius: 5px;
    border: 6px solid rgb(72, 73, 8);
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url('../images/eye2.png'), url('../images/eye.png'), url('../images/loginAngel.jpg');
    background-position: 5% 50%, 95% 50%, 0% 10%;

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 150px, 150px, cover;



    text-align: center;


}

body {

    background-image: url('../images/EgypDeath.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    width: 100vw;
    height: 100vh;
}

.error-div {
    border-radius: 2px;
    background-color: #050505;
    border: 6px solid rgb(72, 73, 8);
    color: white;


}

.site-header {

    overflow: hidden;
    background-color: #869c04;
    padding: 4px 10px;
    border-bottom: 3px solid rgb(9, 16, 16);

    background-image: url('../images/tumblr_muhbnjse6i1rj8e9io1_500.gif');





    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 20% 90%;

}

.site-header a {

    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;


}

.menu-section {
    float: right;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.menu-section a:hover {
    background-color: rgb(145, 136, 16);
    color: black;
}

.form-label label {

    color: white;
    font-size: 20px;
    background-color: black;
    /* border:4px solid rgb(72, 73, 8); */
}


.form-input input {

    padding-bottom: 1%;
    /* background-color: rgb(72, 73, 8); */
    border: 6px solid rgb(58, 58, 56);

}

.page-content {}

.Title h1 {
    text-align: center;
    font-size: 150px;
    color: rgb(145, 136, 16);
    letter-spacing: 2px;
    font-family: "Playfair Display", serif;
    font-weight: 1000;
    padding-bottom: 4%;
    padding-top: 2%;
}


/* index ou il y a le jeu */

/* .line-one{ */

/* border-bottom: 3px solid rgb(0, 47, 255);
    
    width: 110vw;
    
    transform: rotate(-25deg);
    
    transform-origin: right; */

/* border-left: 11px solid #050505;
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 1px;
    height: 100vmax; */

.chatIframe {

    background-color: rgb(145, 136, 16);

    border: 3px solid #73AD21;

    margin-top: 200px;

    display: block;
}

.chat {

    /* width: 100px; */



    /* justify-content: center; */

    /* position: absolute;
    right: ;
    bottom: 500px ; */

    display: flex;

    justify-content: center;


}

.les-options {

    width: 50%;

    margin: 4px 2px;
    display: inline-block;

}

/* page jeu */

.page-containerJeu {

    /* display: flex;

    flex-direction: column;

    justify-content: space-between; */

    /* width: 100vw;
    height: 100vh; */

    /* grid-auto-columns: row;
    grid-template-rows: 0.5fr 3fr 0.5fr; */

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    width: 100vw;
    height: 100vh;

}

.opponent-place {
    /* position: fixed;
   left: 0;
   top: 0;
   width: 100%; */
    height: 13%;
    background-color: rgba(228, 213, 183, 0.726);
    color: white;
    text-align: center;
    border: 6px solid rgb(0, 0, 0);

    /* display: grid;

   grid-template-columns: repeat(4,600px);

   gap: 1%;
   
   grid-auto-rows: 100px;

   /* display: flex; */

    /* justify-content: start;  */

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr 1fr;
    grid-area: 1;


}

.opponent-card {

    gap: 3%;

    display: flex;

    justify-content: center;

    padding-top: 50px;


}

.op-card {

    height: 30px;

    width: 20px;




}

.back {

    height: 100px;

    width: 70px;



}

.opponent-image {



    display: grid;
    grid-auto-columns: row;
    grid-template-columns: 1fr 4fr 1fr;

    align-content: center;

    border-right: 2px solid rgb(0, 0, 0);

    border-left: 2px solid rgb(0, 0, 0);


}

.img-mana {
    width: 100%;
}

.img-vie {
    width: 100%;
}

.img-op {
    width: 15%;
    border-radius: 50%;

    margin: auto;



}

.op-life {


    display: flex;

    align-items: center;




    background-image: url('../images/vie.png');
    background-position: 50% 50%;

    background-size: 100%;

    background-repeat: no-repeat;


}

.op-life p {
    font-size: 50px;

    margin: auto;


}

.op-mana {


    display: flex;

    align-items: center;




    background-image: url('../images/mana.png');
    background-position: 50% 50%;

    background-size: 100%;

    background-repeat: no-repeat;

}

.op-mana p {

    font-size: 50px;
    margin: auto;


}

.op-banner {
    margin: auto;

}

.opponent-total-Card {

    display: flex;
}

.op-cardLeft {

    margin: auto;
}


.air-jeu {


    height: 67%;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    grid-area: 2;



}



.op-playCard {

    gap: 2%;

    display: flex;


    flex-direction: row;

    justify-content: center;

    align-items: center;

    height: 50%;


}

.my-playCard {

    gap: 2%;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    height: 50%;
}

.my-player {

    /* position: fixed;
    left: 0;
    bottom: 0;
    ; */
    height: 20%;
    background-color: rgba(228, 213, 183, 0.726);
    color: white;
    text-align: center;
    border: 6px solid rgb(0, 0, 0);


    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr;
    grid-area: 3;
}

.my-hand {

    gap: 2%;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;


}

/* .my-card
{
    height: 100%;

    width: 150px;
} */


.card {
    

    background-image: url(../images/emptyCardmod2.jpg);

    background-size: cover;

    background-repeat: round;

    background-position: 2;

    display: flex;

    flex-direction: column;

    width: 120px;
    height: 150px;

    color: black;

    text-align: left;
    align-content: center;


}

.top_info {
    display: flex;

    gap: 35%;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;

}

.card_atk {
    background-image: url(../images/atk.png);

    background-size: cover;

    background-repeat: round;


}

.card_cost {
    background-image: url(../images/mana.png);

    background-size: cover;

    background-repeat: round;
}

.card_hp {
    background-image: url(../images/vie.png);

    background-size: cover;

    background-repeat: round;
}

.card_img {
    padding-top: 90px;
    background-image: url(../images/dorknight.jpg);

    background-size: 300px 100px;

    background-repeat: round;

    display: flex;

    flex-direction: column;
    margin: 0px 15px;
}

.card_type {

    font-size: 10px;
}

.card_type {
    text-align: center;
}

/* .allumer
{

  -webkit-box-shadow: 0px 0px 31px 9px rgb(34, 85, 82);
  -moz-box-shadow: 0px 0px 31px 9px rgba(143, 215, 210, 1);
  box-shadow: 0px 0px 31px 9px rgb(2, 8, 8);
} */

.card_desc {
    padding-left: 15px;
    font-size: 5px;

}

.my-stats {

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;

    align-content: center;

    color: #000;
    font-family: monospace;

}

.my-life {
    display: flex;

    align-items: center;




    background-image: url('../images/vie.png');
    background-position: 50% 50%;

    background-size: 80px;

    background-repeat: no-repeat;
}

.my-life p {
    margin: auto;
    font-size: 50px;
}

.my-card {
    display: flex;

    align-items: center;




    background-image: url('../images/carteFace.png');
    background-position: 50% 50%;

    background-size: 40px;

    background-repeat: no-repeat;
}

.my-card p {
    margin: auto;
    font-size: 50px;

}

.my-mana {
    display: flex;

    align-items: center;




    background-image: url('../images/mana.png');
    background-position: 50% 50%;

    background-size: 70px;

    background-repeat: no-repeat;
}

.my-mana p {
    margin: auto;

    padding: 10% 0;

    font-size: 50px;
}

.my-choice {


    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;

    align-content: center;


    
}

.turn {
    padding-top: 15px;
    text-align: center;
}

.time
{
    padding-top: 35px;
    text-align: center;
}

.tmp {
    width: 100px;
    height: 100px;
    border: 20px solid black;

    border-radius: 50%;

    margin: 0 auto;

    position: relative;


}

.millieu-tmp {
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
}

.le-contour {
    width: 95px;
    height: 95px;

    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;


    transform: rotate(0deg);
}

.le-baton {
    position: relative;
}

.le-baton .baton {
    width: 4px;
    height: 40px;
    background-color: aquamarine;
    position: absolute;
    left: 45px;

    transform: rotate(0deg);
}



.my-choice button {

    width: 100%;
}

.card-viewer {
    position: absolute;
    /* background: grey; */
    top: 25%;
    left: 30px;
    width: 300px;
    height: 400px;

    border-radius: 5px;
    border: 6px solid blue;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;
}


.card-big {


    background-image: url(../images/emptyCardmod2.jpg);

    background-size: cover;

    background-repeat: round;

    background-position: 2;

    display: flex;

    flex-direction: column;

    width: 98%;
    height: 98%;

    color: black;

    text-align: left;
    align-content: center;
}

.top_info_big {
    display: grid;

    gap: 1%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 20px;

    padding-bottom: 20px;

    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;



    text-align: center;

    color: cyan;
    font-size: 35px;

}

.card_atk_big {
    background-image: url(../images/atk.png);

    background-size: cover;

    background-repeat: round;

    height: 100%;
}

.card_cost_big {
    background-image: url(../images/mana.png);

    background-size: cover;

    background-repeat: round;

    height: 100%;
}

.card_hp_big {
    background-image: url(../images/vie.png);

    background-size: cover;

    background-repeat: round;

    height: 100%;
}

.card_img_big {
    padding-top: 70%;
    background-image: url(../images/dorknight.jpg);



    background-repeat: no-repeat;

    background-size: cover;



    margin: 5px 35px;
}

.card_type_big {

    padding-top: 5px;
    font-size: 10px;
}

.card_type_big {
    padding-left: 30px;
    font-size: 15px;
}

.card_desc_big {

    font-size: 15px;
    text-align: center;

    margin: 0 29px;

}

.chat-ingame {
    width: 99%;
    background-color: rgba(149,91,69,255);
    /* height: 0px; */
}